/* navbar */

.vitemonvol{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    float: left;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0%;
    font-weight: bold;
}
.petit{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 23px;    
    font-style: oblique;
    font-weight: 600;                                     
    padding-left: 40.5%;
    margin: 0%;
}
ul {
    padding: 0;
    width: 100%;
    margin-bottom: 0%;
  }
  
  li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

.lien{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0%;
    text-align: center;
    line-height: 3;
    color: black;
    font-weight: 600;
    font-size: 22px;
  }
  #retour{
    outline: none;
    text-decoration: none;
    color: black;
}
.lien:hover{
      background-color: darkblue;
      color : white
  }

  li:last-child a {
    margin-right: 0;
  }

  .logo{
      font-size: 35px;
  }